In [1]:
import pandas as pd
import numpy as np

# Sample

In [2]:
Sample = pd.read_csv('Datasets/sample_submission.csv')

In [5]:
Sample.shape

(4277, 2)

In [6]:
Sample.isnull().sum()

PassengerId    0
Transported    0
dtype: int64

# Train

In [7]:
Train = pd.read_csv('Datasets/train.csv')

In [8]:
Train.shape

(8693, 14)

In [9]:
Train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# Test

In [4]:
Test = pd.read_csv('Datasets/test.csv')

In [10]:
Test.shape

(4277, 13)

In [12]:
Test.isnull().sum()ml

AttributeError: 'Series' object has no attribute 'columns'